/* contenu */
.divParagraphe
{
	height: fit-content;
	height: -moz-fit-content;
	margin-bottom: 6em;
	padding: 40px 20px;
	width: 100%;
}
button.buttonSend
{
	margin: 15px;
}
.buttonSend
{
	background: #002868;
	border: 2px solid white;
	border-radius: 10px;
	box-shadow: inset 0 0 12px rgba(0, 0, 0, 1);
	color: white;
	font-family: "courier new";
	font-size: 1.1em;
	font-weight: bold;
	margin-top: 1em;
	min-width: 120px;
	padding: 4px;
	transition: 200ms;
	width: 22vw;
}
.buttonSend:hover
{
	background: white;
	box-shadow: 0 0 18px rgba(255, 255, 255);
	color: black;
	font-size: 1.125em;
	width: 22.5vw;
}
input.textBox
{
	background-color: transparent;
	border: 1px solid white;
	border-radius: 8px;
	color: white;
	font-family: "Courier New", Courier, monospace;
	outline: none;
	padding: 4px 8px;
	text-decoration: none;
	width: 40%;
}
.divFormulaire
{
	display: grid;
}
.textBox.textBox2
{
	width: 100%;
}
/* animation out */
.loginOut
{
	animation-duration: 0.7s;
	animation-fill-mode: forwards;
	animation-name: gridAnimOut;
}
/* media queries */
@media only screen and (max-width: 1300px), (max-height: 750px)
{
	.divParagraphe
	{
		margin: 3em auto 4em auto;
		width: 80%;
	}
	.nav,
	 .navOut,
	 .home,
	 .imgOut,
	 .divParagraphe,
	 .loginOut
	{
		animation: none;
	}
}